.movie {
  position: relative;
  z-index: 0;
}

.movie img:hover {
  opacity: 0.2;
}

.titulo {
  position: absolute;
  word-wrap: break-word;
  width: 185px;
  bottom: 50px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.price {
  position: absolute;
  word-wrap: break-word;
  width: 185px;
  bottom: 20px;
  color: black;
  font-weight: bold;
}

.poster {
  border-radius: 20px;
  z-index: -10000;
}

.buttons {
  position: absolute;
  word-wrap: break-word;
  top: 20px;
  color: black;
  font-weight: bold;
  z-index: 100;
}
