.register-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
