.movies-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 10px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  overflow-x: scroll;
}

h3 {
  color: black;
  margin-left: 50px;
  margin-top: 100px;
  font-weight: lighter;
  letter-spacing: 0.2rem;
}

.movies-list-animation {
  animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(+100%);
  }
  to {
    transform: translateX(0);
  }
}

.h3-animation {
  animation: slide-in-left 0.5s ease-out;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.movies-list-rented {
  margin-bottom: 100px;
}
