.movies-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 10px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  overflow-x: scroll;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin-left: 50px;
  margin-top: 100px;
}
