.login-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100vh;
  gap: 20px;
}

.login-form {
  border: 4px solid #7671f1;
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
label {
  color: black;
}

.mail-error {
  color: red;
}

.name {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.password {
  display: flex;
  justify-content: space-between;
  width: 262px;
}

.login-button {
  margin-top: 100px;
  align-self: center;
}

.login-title {
  padding-bottom: 100px;
}
